<h1>Listing micropos</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @micropos.each do |micropo| %>
  <tr>
    <td><%= link_to 'Show', micropo %></td>
    <td><%= link_to 'Edit', edit_micropo_path(micropo) %></td>
    <td><%= link_to 'Destroy', micropo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Micropo', new_micropo_path %>
